.container
    display: flex
    justify-content: space-between
    margin-top: 5vh
    flex-wrap: wrap
    p
        color: red

@media screen and (max-width: 600px)
    .container
        flex-wrap: nowrap
        overflow: scroll
        .card-container
            margin: 0 10px
            img
                width: 200px
                height: 200px
