.container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
}

.containerAuth {
    display: flex;
}

.containerAuth p {
    margin: 0 10px;
}

.dropdown {
    text-align: right;
    display: none;
    background-color: white;
    color: black;
    margin-top: 10px;
}

.containerProfile {
    &:hover {
        .dropdown {
            display: block;
            position: relative;
        }
    }
}